body {
  font-family: arial;
  margin: 0;
  padding: 0;
  overflow: none;
  padding-top: 50px;
  width: 100%;
  height: 100%;
}
main {
  display: flex; 
}
#ch-title {
  position: fixed; 
  top: 0;
  background-color: #ddd;
  border: 1px solid black;
  padding: 5px 45%;
  margin: 0;
}
#ch-content {
  margin: 50px 25px 0;
}
#chat {
  position: fixed; 
  bottom: 0;
  padding: 5px 50%;
}
div#content {
  padding: 10px;
  flex: 1;
  /* width: 90%; */
}
div#content>div {
  flex: 1;
  /*padding: 4vw;*/
  /* height: 75vh; */
  overflow-y: scroll;
}
input {
  padding: 5px;
  flex: 1;
}